/* index.css */
html, body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #f7f7f7;
  color: #333;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}
